<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-group"> 
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :picture %>
    <%= f.input :start_date %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :location %>
    <%= f.input :city %>
    
    <%= f.hidden_field :user_id %> 
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
