<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.check_box :on_sale, label: 'Your username please'%>
    <%= f.input :cost %>
    <%= f.input :picture %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :area %>
    <%= f.input :rooms %>
    <%= f.input :localization %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
