<h1>Listing offers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Cost</th>
      <th>Picture</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Area</th>
      <th>Rooms</th>
      <th>Localization</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.title %></td>
        <td><%= offer.cost %></td>
        <td><%= image_tag(offer.picture_url, :width => 50) if offer.picture.present? %></td>
        <td><%= offer.start_date %></td>
        <td><%= offer.end_date %></td>
        <td><%= offer.area %></td>
        <td><%= offer.rooms %></td>
        <td><%= offer.localization %></td>
        <td><%= offer.description %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Oferuje mieszkanie', new_offer_path%><br>
<%= link_to 'Szukam mieszkania', new_offer_path%>
