<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @offer.cost %>
</p>

<p>
 <%if @offer.on_sale %>
    <strong>Kup Teraz</strong>
  <%else%>
    <strong>Bez Kup Teraz</strong>
  <%end%>
</p>



<p>
  <strong>Picture:</strong>
  <%= image_tag(@offer.picture_url, :width => 400) if @offer.picture.present? %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @offer.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @offer.end_date %>
</p>

<p>
  <strong>Area:</strong>
  <%= @offer.area %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @offer.rooms %>
</p>

<p>
  <strong>Localization:</strong>
  <%= @offer.localization %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
