<%# add navigation links to this file %>

<% if user_signed_in? %>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to 'Offers', offers_path %></li>
  <li><%= image_tag(current_user.avatar_url, width:50)%></li>

<% end %>
